
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
text-align:center; 
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.login-box{
width:350px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.3);
text-align:center;
}

h1{
color:#1e3c72;
margin-bottom:10px;
}

p{
margin-bottom:20px;
color:#555;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
background:#1e3c72;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2a5298;
}

#message{
margin-top:15px;
font-weight:bold;
  }
